{% extends "base_generic.html" %}
{% load bootstrap4 %}

{% block content %}
<h1>Password Reset</h1>

    {% if validlink %}
        <p>Please enter (and confirm) your new password.</p>

        <div class="row">
        <div class="col-lg-4">
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            {% bootstrap_form form %}

            {% buttons %}
              <input type="submit" value="Change my password" class="btn btn-primary"/>
            {% endbuttons %}

        </form>

      </div>
      </div>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}

{% endblock %}
