{% extends "base_generic.html" %}

{% block content %}
<h1>Create An Account</h1>

<p>If you want an account on this website (to post blogs or comments), just message me the username, password, and email
  you want to use. Don't use a password that you use for another website/login unless
  you really don't care security issues (for example me possibly being able to login to your other accounts).
  You will be able to change your password later (I think) by messaging me and I will send you the password reset link.</p>




{% endblock %}
