{% extends "base_generic.html" %}
{% load bootstrap4 %}

{% block content %}

    <h1>Renew: {{bookinst.book.title}}</h1>
    <p>Borrower: {{bookinst.borrower}}</p>
    <p{% if bookinst.is_overdue %} class="text-danger"{% endif %}>Due date: {{bookinst.due_back}}</p>

    <div class="row">
    <div class="col-lg-8">
    <form action="" method="post">
        {% csrf_token %}

        {% bootstrap_form form %}

        <input type="submit" value="Submit" class="btn btn-primary"/>

    </form>
  </div>
  </div>
{% endblock %}
